# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
#
# Publish to PyPI on push of version like tags
#
name: Publish

on:
  push:
    tags: v?[0-9]+.[0-9]+.[0-9]+*

jobs:
  publish-to-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install build package
        run: |
          pip install --upgrade pip
          pip install build
          pip freeze

      - name: Build release
        run: |
          python -m build --sdist --wheel .
          ls -alh dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.6.4
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
