# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
#
name: Test

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
  workflow_dispatch:

jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.9"
            pip-install-spec: "jupyterhub==4.*"
          - python-version: "3.12"
            pip-install-spec: "jupyterhub==5.*"
          - python-version: "3.x"
            pip-install-spec: "--pre jupyterhub"
            accept-failure: true

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Install Python dependencies
        run: |
          pip install ${{ matrix.pip-install-spec }}
          pip install ".[test]"

      - name: List packages
        run: pip freeze

      - name: Run tests
        continue-on-error: ${{ matrix.accept-failure == true }}
        run: |
          pytest --maxfail=2 --cov=nativeauthenticator

      # GitHub action reference: https://github.com/codecov/codecov-action
      - uses: codecov/codecov-action@v5
